body {
    margin: 0;
}
div {
    width: 200px;
    height: 200px;
}
span {
    margin-left: 30px;
    margin-top:30px;
}

/* 
#e5989b
#b5838d
#6d6875
*/

div {
    width: 200px;
    height: 200px;
    background-color: #b5838d;
}

h1 {
    background-color: pink;
    width: 100px;

}

#one {
    background-color: #e5989b;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    
}

#two {
    background-color: #b5838d;
}

#three {
    background-color: #6d6875;
}